<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>ItemCard</servlet-name>
        <servlet-class>edu.etu.web.ItemCard</servlet-class>

        <init-param>
            <param-name>activeTab</param-name>
            <param-value>description_tab</param-value>
        </init-param>
        <init-param>
            <param-name>activeContainer</param-name>
            <param-value>product_description</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemCard</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
</web-app>